.container{
    width: 400px;
    margin-top: 200px;
    font-weight: bold;
}
.price{
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    padding: 0 10px;
}
.food{
    border: 3px solid black;
    padding: 10px 10px;
}